*{
  background-color: rgb(18, 114, 34);
}

.container{
  position: relative;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  background-color: rgb(225, 252, 203);
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(7, 73, 18);
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: rgb(119, 15, 15);
  border: 1px solid #fff;
  z-index: 1;
}